{% extends 'base.html' %}
{% block content %}
{% load static %}




<fieldset class="fieldset">
  <div class="tablink">

    <button onclick="location.href='{% url 'lectureAdd'%}'" class="submit"> Back </button>
    <!-- <h1 onclick="openPage('edit')" id="link_to_edit">Edit Section</h1> -->
  </div>
  <div class="tabcontent" id="edit">
    <table class="editTable">
      <thead>
        <tr class="table-headers">
          <th>Lecture ID</th>
          <th>Course</th>
          <th>Room</th>
          <th>Meeting Time</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        {% for lecture in lectures %}
        <tr>
          <td>{{ lecture.lecture_id }}</td>
          <td>{{ lecture.course.course_name }}</td>
          <td>{{ lecture.room.room_name }}</td> <!-- Assuming Room model has a 'room_name' field -->
          <td>{{ lecture.meeting_time }}</td>
          <td class="empty">
            <form action="{% url 'deletelecture' lecture.lecture_id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="X" class="cross">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</fieldset>

{% endblock %}