{% extends 'base.html' %}
{%block content%}
{% load static %}

{% if messages %}
<div class="alert alert-success" role="alert">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="tablink">
      <h1 onclick="openPage('new')" id="defaultOpen">Classtime</h1>
      <a href="{% url 'meetingTimeEdit' %}">
        <h1 onclick="openPage('edit')" id="link_to_edit" style="color: #ff3f3f;">Click to View</h1>
      </a>
    </div>
    <div class="tabcontent" id="new">
      {{ form.as_p }}
      <input type="submit" value="Submit" class="submit">
      <button onclick="location.href='{% url 'courseAdd' %}'" type="button" class="submit" > Next </button>

    </div>
  </fieldset>
</form>

{% endblock %}