{% extends 'base.html' %}
{% block content %}
{% load static %}

<fieldset>
    <div class="halfpart">
        <div class="card">
            <div class="txt" style="text-align: center;">
                <h2>View Timetable</h2>
            </div>
            <div class="crdbtn" style="display: flex; justify-content: center; gap: 2rem;">
                <a href="{% url 'view_timetable' timetable_id %}" class="btn">Student View</a>
                <a href="{% url 'instructor_timetable' timetable_id %}" class="btn">Instructor View</a>
            </div>
        </div>
    </div>
</fieldset>

{% endblock %}
